body, html{
  height: 99%;
}

#login-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 620px;
  height: 300px;
  background-color: rgb (139,180,255);
  background-color: rgba(139,180,255,0.6);
}

#login-background {
  position: absolute;
  width:  621px;
  height: 300px;
}

#login-background img {
  width: 100%;
  height: 100%;
}

#login-table {
  position: relative;
  z-index: 1;
  height: 155px;
  margin-left:  auto;
  margin-right: auto;
  width: 400px;
  top:   70px;
}
#login-table td {
  color: #FFFFFF;
  text-shadow: 0.1em 0.1em #222222;
}