html,
body {
	height: 100%;
}

#page-wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -61px;
}

#page-wrap .container {
}

#sub-menu {
	padding-top: 45px;
}

#footer-push,
#footer {
	height: 60px;
}
#footer {
	background-color: #f0f0f0;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cccccc;
}
#footer #footer-table {
	width: 100%;
	border-width: 0px;
}

.footer-td-1,
.footer-td-2,
.footer-td-3 {
	width: 33%;
	padding-top: 5px;
}

.footer-td-1 {
	vertical-align: top;
	padding-left: 10px;
	font-size: xx-small;
}

.footer-td-1 {
	text-align: left;
}

.footer-td-2 {
	text-align: center;
}

.footer-td-3 {
	text-align: right;
	padding-right: 10px;
}

@media (max-width: 767px) {
	footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}


input {
	padding-top:    3px;
	padding-bottom: 3px;
}
.button {
	padding-top:    2px;
	padding-bottom: 2px;
}
label {
	font-size:   large;
}
label,
.ui-button,
input,
.button {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
input,
.button:link {
	color: #002288;
	background-color: #FAFFBD;
	text-decoration:  none;
}
input:hover,
.button:hover {
	color: #000000;
	background-color: #CFD3FD;
	text-decoration:  none;
}
input:active,
.button:active {
	color: #FF0000;
	background-color: #DAD8FE;
	text-decoration:  underline;
}
